<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration, DotNetCasClient" />
  </configSections>
  <location path="Secured.aspx">
  	<system.web>
  		<authorization>
  			<deny users="?" />
  		</authorization>
  	</system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms name=".DotNetCasClientAuth" 
			 loginUrl="https://casserver.herokuapp.com/cas/login" 
			 cookieless="UseCookies" />
    </authentication>
    <httpModules>
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="DotNetCasClient" />
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient" />
    </modules>
  </system.webServer>
  <casClientConfig casServerLoginUrl="https://casserver.herokuapp.com/cas/login" 
				   casServerUrlPrefix="https://casserver.herokuapp.com/cas/" 
				   serverName="https://localhost:44363/" 
				   notAuthorizedUrl="~/NotAuthorized.aspx" 
				   cookiesRequiredUrl="~/CookiesRequired.aspx" 
				   redirectAfterValidation="true" 
				   gateway="false" 
				   renew="false" 
				   singleSignOut="true" 
				   ticketTimeTolerance="5000" 
				   ticketValidatorName="Cas20" 
				   proxyTicketManager="CacheProxyTicketManager" 
				   serviceTicketManager="CacheServiceTicketManager" 
				   gatewayStatusCookieName="CasGatewayStatus" />

	<!--
        *======================
        * Trace configuration
        * OPTIONAL
        *======================
    
        The following section describes how to configure CasAuthenticationModule to produce trace output
        for troubleshooting purposes.  The most important aspect of the following configuration is
        the set of four well-defined trace switches.
    -->
	<system.diagnostics>
		<trace autoflush="true" useGlobalLock="false" />
		<sharedListeners>
			<!--
                Writing trace output to a log file is recommended.
                IMPORTANT:
                The user account under which the containing application pool runs
                must have privileges to create and modify the trace log file.
            -->
			<add name="TraceFile"
                 type="System.Diagnostics.TextWriterTraceListener"
                 initializeData="C:\inetpub\logs\LogFiles\DotNetCasClient.Log"
                 traceOutputOptions="DateTime" />
		</sharedListeners>
		<sources>
			<!-- Provides diagnostic information on module configuration parameters. -->
			<source name="DotNetCasClient.Config" switchName="Config" switchType="System.Diagnostics.SourceSwitch" >
				<listeners>
					<add name="TraceFile" />
				</listeners>
			</source>

			<!-- Traces IHttpModule lifecycle events and meaningful operations performed therein. -->
			<source name="DotNetCasClient.HttpModule" switchName="HttpModule" switchType="System.Diagnostics.SourceSwitch" >
				<listeners>
					<add name="TraceFile" />
				</listeners>
			</source>

			<!-- Provides protocol message and routing information. -->
			<source name="DotNetCasClient.Protocol" switchName="Protocol" switchType="System.Diagnostics.SourceSwitch" >
				<listeners>
					<add name="TraceFile" />
				</listeners>
			</source>

			<!-- Provides details on security operations and notable security conditions. -->
			<source name="DotNetCasClient.Security" switchName="Security" switchType="System.Diagnostics.SourceSwitch" >
				<listeners>
					<add name="TraceFile" />
				</listeners>
			</source>
		</sources>
		<switches>
			<!--
                Set trace switches to appropriate logging level.  Recommended values in order of increasing verbosity:
                - Off
                - Error
                - Warning
                - Information
                - Verbose
            -->
			<!--
                Config category displays detailed information about CasAuthenticationModule configuration.
                The output of this category is only displayed when the module is initialized, which happens
                for the first request following application/server startup.
            -->
			<add name="Config" value="Information"/>

			<!--
                Set this category to Verbose to trace HttpModule lifecycle events in CasAuthenticationModule.
                This category produces voluminous output in Verbose mode and should be avoided except for
                limited periods of time troubleshooting vexing integration problems.
            -->
			<add name="HttpModule" value="Verbose"/>

			<!--
                Set to Verbose to display protocol messages between the client and server.
                This category is very helpful for troubleshooting integration problems.
            -->
			<add name="Protocol" value="Information"/>

			<!--
                Displays important security-related information.
            -->
			<add name="Security" value="Information"/>
		</switches>
	</system.diagnostics>
</configuration>